*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: minhaFonte;
    src: url(../fonts/Italianno-Regular.ttf);
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo{
    width: 200px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

.headerText{
    font-size: 50px;
    font-family: minhaFonte;
}

main{
    height: auto;
    background-color: #FAE8DA;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about{
    height: auto;
    width: 400px;
    justify-self: flex-start;
}

.gallery{
    height: auto;
    width: 800px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    align-self: center;
    overflow: hidden;
}

.cardImg{
    width: 100%;
    border: 1px solid goldenrod; 
    border-radius: 10px;
}

.img-gallery{
    width: 100%;
    border-radius: 10px;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    justify-self: center;
    align-self: center;
}

#serviceTitle{
    width: 600px;
}

.container{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#imgTitle{
    width: 100px;
    height: 100px;
}

.area{
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border: 1px solid goldenrod;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}

.design{
    background-image: url(../images/design.jpg);
    background-size: cover;
}

.build{
    background-image: url(../images/build.jpg);
    background-size: cover;
}

.install{
    background-image: url(../images/install.jpg);
    background-size: cover;
    margin-bottom: 100px;
}

.pictureTitle{
    background-color: rgba(0,0,0,.6);
    border-radius: 5px;
    height: auto;
    width: 80%;
    align-self: center;
    color: white;
    padding: 15px;
}

footer{
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url(../images/newLogo2.png);
    background-repeat: repeat;
    background-position: center;
}

.photos{
    height: 150px;
    border-top: 3px solid goldenrod;
    border-bottom: 3px solid goldenrod;
    display: flex;
    flex-direction: row;
}

.imgSmall{
    width: 150px;
}

.contact{
    color: white;
    margin: 100px auto;
    text-align: center;

}
p{
    padding: 5px;
}

#insta{
    margin-top: 25px;
    width: 100px;
}

.web{
    color:pink;
}