*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: minhaFonte;
    src: url(../fonts/Italianno-Regular.ttf);
}

@font-face {
    font-family: secondFont;
    src: url(../fonts/BigShouldersDisplay-SemiBold.ttf);
}

body{
    background-color: white;
}

header{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgLogo{
    width: 200px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

.headerText{
    font-size: 50px;
    font-family: minhaFonte;
}

main{
    height: auto;
    background-color: #FAE8DA;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about{
    height: auto;
    width: 400px;
    justify-self: flex-start;
}

#aboutImg{
    width: 100%;
    height: 100%;
}

#btnContact{
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    font-family: secondFont;
    font-size: 30px;
    transition: background-color 1500ms, color 200ms;
    color: black;
}

#btnContact:hover{
    background-color: rgb(0, 148, 148);
    color: white;
}

#linkContact{
    text-decoration: none;
}

.gallery{
    height: 500px;
    width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#A1{
    position: relative;
}

#A1 img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms ease-in-out;
}

#A1 img.cardImg{
    opacity: 1;
}

.cardImg{
    width: auto;
    max-height: 500px;
    border: 1px solid goldenrod; 
    border-radius: 10px;
    filter: brightness(1.2);
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    justify-self: center;
    align-self: center;
}

#serviceTitle{
    width: 100%;
}

.container{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#imgTitle{
    width: 100px;
    height: 100px;
}

.area{
    width: 300px;
    height: 300px;
    border: 1px solid goldenrod;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}

.design{
    background-image: url(../images/design.jpg);
    background-size: cover;
}

.build{
    background-image: url(../images/build.jpg);
    background-size: cover;
}

.install{
    background-image: url(../images/install.jpg);
    background-size: cover;
    margin-bottom: 100px;
}

.pictureTitle{
    background-color: rgba(0,0,0,.6);
    border-radius: 5px;
    height: auto;
    width: 80%;
    align-self: center;
    color: white;
    padding: 15px;
}

footer{
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url(../images/newLogo2.png);
    background-repeat: repeat;
    background-position: center;
}

.photos{
    height: 150px;
    border-top: 3px solid goldenrod;
    border-bottom: 3px solid goldenrod;
    display: flex;
    flex-direction: row;
}

.imgSmall{
    width: 150px;
}

.contact{
    color: white;
    margin: 100px auto;
    text-align: center;
}

p{
    padding: 5px;
}

#insta{
    margin-top: 25px;
    width: 100px;
}

.web{
    color:pink;
}

@media screen and (max-width:950px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
        flex-wrap: wrap;

    }

    .gallery{
        margin: auto;
        width: 90vw;
        height: 50vh;
    }

}

@media screen and (max-width:823px){
    #aboutImg{
        width: 100vw;
    }

    .about{
        text-align: center;
        width: 100vw;
    }
    #aboutImg{
        width: 60%;
        margin: auto;
    }

    .headerText{
        font-size: 25px;
        text-align: center;
    }
    .imgLogo{
        width: 100px;
    }

    .gallery{
        margin: auto;
        width: 90vw;
        height: 40vh;
        margin-bottom: 25px;
    }
}

